<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Construction</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container bg-red-300 mx-auto p-4 my-4 text-red-900 border-red-600 border-2">
        <p>O Texto do Container</p>
    </div>
    <!-- Exercício 1 -->
    <div class="container bg-green-300 mx-auto md:bg-blue-400">
        <p>Exercício 1</p>
    </div>
    <!-- Box sizing-->
    <div class="container bg-purple-700 text-white border-2 border-purple-900 m-4 border-box p-10">
        <p>Border box</p>
    </div>
    <div class="container bg-teal-400 border-2 border-teal-900 m-4 box-content p-10">
        <p>Border content</p>
    </div>
    <!-- Display-->
    <div class="container">
        <span class="block bg-red-300">Não são elementos de block</span><br>
        <span class="block bg-red-300">Não são elementos de block</span>
        <div class="bg-blue-300 inline-block">Block</div>
        <div class="bg-blue-300 inline-block">Block</div>
        <div class="bg-green-900 hidden">Estou Aparecendo!</div>
    </div>
    <hr>
    <!-- Exercício 2 -->
    <p>Exercício 2</p>
    <div class="container bg-red-300 m-6 p-6">
        <div class="bg-red-600 inline-block">Div 1</div>
        <div class="bg-green-600 inline-block">Div 2</div>
        <div class="bg-orange-600 inline-block">Div 3</div>
    </div>
    <!-- Float e clear -->
    <hr>
    <p>Float e clear</p>
    <div class="bg-gray-500 float-right">Float right</div>
    <div class="bg-gray-700 float-left">Float left</div>
    <div class="clearfix"></div>
    <div class="bg-gray-700 float-left">Float left</div>
    <div class="bg-gray-500 float-right">Float right</div>
    <div class="clearfix"></div>

    <!-- Aplicando overflow -->
    <hr>
    <p>Aplicando overflow</p>
    <div class="overflow-hidden h-16 m-16 bg-red-300">
        <p>Testando overflow HIDDEN</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>

    </div>

    <div class="overflow-auto h-16 m-16 bg-blue-300">
        <p>Testando overflow AUTO</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>

    </div>
    <div class="overflow-x-auto h-16 m-16 bg-green-300">
        X
        AUTO-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

    </div>
    <div class="overflow-y-auto h-16 m-16 bg-purple-300">
        <p>Testando overflow Y AUTO</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
        <p>Testando overflow</p>
    </div>
    <!-- Positions -->
    <p>Positions</p>
    <div class="absolute top-0 right-0 bg-pink-900 text-white">
        Absolute
    </div>
    <div class="relative bg-pink-300">
        teste
        <div class="absolute top-0 right-0 bg-pink-900 text-white">
            Absolute
        </div>
    </div>
    <!-- Exercício 3 -->
    <p>Exercício 3</p>
    <div class="container bg-teal-300 h-10 relative m-10">
        container
        <div class="absolute bg-orange-300 bottom-0 right-0">
            div
        </div>
    </div>
    <!-- Alterando visibilidade -->
    <h3>Alterando visibilidade</h3>
    <div class="container bg-red-400 invisible">
        <p>Estou oculto</p>
    </div>
    <!-- Z-index -->
    <h3>Z-index</h3>
    <div class="container relative h-20">
        <div class="div bg-red-300 h-20 w-20 p-6 absolute z-10">Na frente</div>
        <div class="div bg-red-600 h-20 w-20 p-6 absolute m-4">Atrás</div>
    </div><br><br>

    <!-- Exercício 4 -->
    <div class="container relative h-20 float-right">
        <h3>Exercício 4</h3>
        <div class="bg-orange-300 h-20 w-20 p-6 absolute z-20">1</div>
        <div class="bg-orange-600 h-20 w-20 p-6 absolute z-10 m-6">2</div>
        <div class="bg-orange-900 h-20 w-20 p-6 absolute m-10">3</div>
    </div><br><br><br>
    <p class="m-20">Espaço</p>
    <p class="m-20">Espaço</p>
    <p class="m-20">Espaço</p>
    <!-- Flex Direction-->
    <div class="flex flex-row bg-red-300">
        <div class="bg-red-600 p-6 m-2">1</div>
        <div class="bg-red-600 p-6 m-2">2</div>
        <div class="bg-red-600 p-6 m-2">3</div>
    </div>
    <div class="flex flex-col bg-blue-300">
        <div class="bg-blue-600 p-6 m-2">1</div>
        <div class="bg-blue-600 p-6 m-2">2</div>
        <div class="bg-blue-600 p-6 m-2">3</div>
    </div>
    <div class="flex flex-row-reverse bg-green-300">
        <div class="bg-green-600 p-6 m-2">1</div>
        <div class="bg-green-600 p-6 m-2">2</div>
        <div class="bg-green-600 p-6 m-2">3</div>
    </div>
    <div class="flex flex-col-reverse bg-pink-300">
        <div class="bg-pink-600 p-6 m-2">1</div>
        <div class="bg-pink-600 p-6 m-2">2</div>
        <div class="bg-pink-600 p-6 m-2">3</div>
    </div>
    <!-- Exercício 5 -->
    <h3>Exercício 5</h3>
    <div class="flex flex-col bg-red-300">

        <div class="bg-orange-600 p-6 m-2">1</div>
        <div class="bg-blue-600 p-6 m-2">2</div>
        <div class="bg-teal-600 p-6 m-2">3</div>
        <div class="bg-red-600 p-6 m-2">4</div>
        <div class="bg-green-600 p-6 m-2">5</div>
        <div class="bg-pink-600 p-6 m-2">6</div>
    </div>
    <!-- Flex Wrap -->
    <h3>Flex Wrap</h3>
    <div class="flex flex-wrap bg-red-900">
        <div class="bg-red-200 p-6 m-2">1</div>
        <div class="bg-red-300 p-6 m-2">2</div>
        <div class="bg-red-400 p-6 m-2">3</div>
        <div class="bg-red-500 p-6 m-2">4</div>
        <div class="bg-red-600 p-6 m-2">5</div>
        <div class="bg-red-700 p-6 m-2">6</div>
    </div>
    <!-- Flex no elemento -->
    <h3>Flex no elemento</h3>
    <div class="bg-green-300 p-8 flex container">
        <div class="flex-1 bg-green-400">1</div>
        <div class="flex-1 bg-green-500">2</div>
        <div class="flex-none bg-green-600">3</div>
    </div>
    <!-- Order -->
    <h3>Order</h3>
    <div class="flex flex-wrap bg-purple-900">
        <div class="bg-purple-200 p-6 m-2 order-last">1</div>
        <div class="bg-purple-300 p-6 m-2 order-5">2</div>
        <div class="bg-purple-400 p-6 m-2 order-4">3</div>
        <div class="bg-purple-500 p-6 m-2 order-3">4</div>
        <div class="bg-purple-600 p-6 m-2 order-2">5</div>
        <div class="bg-purple-700 p-6 m-2 order-first">6</div>
    </div>
    <!-- Exercício 6 -->
    <h3>Exercício 6 </h3>
    <div class="container flex bg-orange-300">
        <div class="bg-orange-500 flex p-6 m-3 lg:order-3">1</div>
        <div class="bg-orange-700 flex p-6 m-3 lg:order-2">2</div>
        <div class="bg-orange-900 flex p-6 m-3 lg:order-1">3</div>
    </div>
    <!-- Grid-->
    <h3>Colunas do Grid</h3>
    <div class="grid bg-red-300 grid-cols-4">
        <div class="bg-red-600">1</div>
        <div class="bg-red-600">2</div>
        <div class="bg-red-600">3</div>
        <div class="bg-red-600">4</div>
    </div>
    <div class="grid grid-cols-2">
        <div class="bg-green-800">1</div>
        <div class="bg-green-800">2</div>
    </div>
    <!-- Exercício 7 -->
    <h3>Exercício 7</h3>
    <div class="grid bg-pink-400 grid-cols-3 m-2">
        <div class="bg-pink-500">1</div>
        <div>2</div>
        <div class="bg-pink-500">3</div>
        <div>4</div>
        <div class="bg-pink-500">5</div>
        <div>6</div>
        <div class="bg-pink-500">7</div>
        <div>8</div>
        <div class="bg-pink-500">9</div>
    </div>
    <!-- Exercício 8 -->
    <h3>Exercício 8</h3>
    <div class="grid grid-cols-4">
        <div class="col-span-4 bg-yellow-900 text-white p-2">
            <p>Barra de Navegação</p>
        </div>
        <div class="col-span-1 bg-yellow-600 p-2">
            <ul>
                <li><a href="#">Produto</a></li>
                <li><a href="#">Categoria</a></li>
                <li><a href="#">Novidades</a></li>
            </ul>
        </div>
        <div class="col-span-3 bg-yellow-400 p-2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dignissimos fuga iusto voluptatem
                recusandae vero reiciendis ex temporibus itaque deserunt debitis ratione, delectus neque non deleniti
                earum ullam voluptatibus nobis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                dignissimos fuga iusto voluptatem
                recusandae vero reiciendis ex temporibus itaque deserunt debitis ratione, delectus neque non deleniti
                earum ullam voluptatibus nobis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                dignissimos fuga iusto voluptatem
                recusandae vero reiciendis ex temporibus itaque deserunt debitis ratione, delectus neque non deleniti
                earum ullam voluptatibus nobis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                dignissimos fuga iusto voluptatem
                recusandae vero reiciendis ex temporibus itaque deserunt debitis ratione, delectus neque non deleniti
                earum ullam voluptatibus nobis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                dignissimos fuga iusto voluptatem
                recusandae vero reiciendis ex temporibus itaque deserunt debitis ratione, delectus neque non deleniti
                earum ullam voluptatibus nobis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
                dignissimos fuga iusto voluptatem
                recusandae vero reiciendis ex temporibus itaque deserunt debitis ratione, delectus neque non deleniti
                earum ullam voluptatibus nobis?</p>
        </div>
    </div>
    <!-- Grid Linear -->
    <h3>Grid Linear</h3>
    <div class="grid grid-rows-3 grid-flow-col m-4">
        <div class="bg-green-400">1</div>
        <div class="bg-yellow-400">2</div>
        <div class="bg-green-400">3</div>
        <div class="bg-yellow-400">4</div>
        <div class="bg-green-400">5</div>
        <div class="bg-yellow-400">6</div>
        <div class="bg-green-400">7</div>
        <div class="bg-yellow-400">8</div>
        <div class="bg-green-400">9</div>
    </div>
    <!-- GAP - Controlando o espaçamento entre itens -->
    <h3>GAP - Controlando o espaçamento entre itens</h3>
    <div class="grid grid-cols-3 m-4 gap-2">
        <div class="bg-purple-500">1</div>
        <div class="bg-purple-400">2</div>
        <div class="bg-purple-500">3</div>
        <div class="bg-purple-400">4</div>
        <div class="bg-purple-500">5</div>
        <div class="bg-purple-400">6</div>
        <div class="bg-purple-500">7</div>
        <div class="bg-purple-400">8</div>
        <div class="bg-purple-500">9</div>
    </div>
    <!-- Exercício 9 -->
    <h3>Exercício 9 </h3>
    <div class="grid grid-cols-2 gap-6">
        <div class="bg-red-300">1</div>
        <div class="bg-red-600">2</div>
        <div class="bg-red-800">3</div>
        <div class="bg-red-900">4</div>
    </div>
    <!-- Alinhamento de items -->
    <h3>Alinhamento de items</h3>
    <h2>justify-end</h2>
    <div class="flex p-2 bg-red-300 justify-end">
        <div class="bg-red-600 p-4 m-4">1</div>
        <div class="bg-red-600 p-4 m-4">2</div>
        <div class="bg-red-600 p-4 m-4">3</div>
        <div class="bg-red-600 p-4 m-4">4</div>
    </div>
    <h2>justify-center</h2>
    <div class="flex p-2 bg-blue-300 justify-center">
        <div class="bg-blue-600 p-4 m-4">1</div>
        <div class="bg-blue-600 p-4 m-4">2</div>
        <div class="bg-blue-600 p-4 m-4">3</div>
        <div class="bg-blue-600 p-4 m-4">4</div>
    </div>
    <h2>justify-between</h2>
    <div class="flex p-2 bg-green-300 justify-between">
        <div class="bg-green-600 p-4 m-4">1</div>
        <div class="bg-green-600 p-4 m-4">2</div>
        <div class="bg-green-600 p-4 m-4">3</div>
        <div class="bg-green-600 p-4 m-4">4</div>
    </div>
    <h2>justify-around</h2>
    <div class="flex p-2 bg-purple-300 justify-around">
        <div class="bg-purple-600 p-4 m-4">1</div>
        <div class="bg-purple-600 p-4 m-4">2</div>
        <div class="bg-purple-600 p-4 m-4">3</div>
        <div class="bg-purple-600 p-4 m-4">4</div>
    </div>
    <!-- Exercício 10 -->
    <h3>Exercício 10</h3>
    <div class="flex p-2 bg-green-200 justify-center">
        <div class="p-4 m-4 bg-green-300 border border-green-900">1</div>
        <div class="p-4 m-4 bg-green-400 border border-green-900">2</div>
        <div class="p-4 m-4 bg-green-500 border border-green-900">3</div>
        <div class="p-4 m-4 bg-green-300 border border-green-900">4</div>
        <div class="p-4 m-4 bg-green-400 border border-green-900">5</div>
        <div class="p-4 m-4 bg-green-500 border border-green-900">6</div>

    </div>
    <!-- Alinhamento eixo y -->
    <h3>Alinhamento eixo y</h3>
    <h3>center</h3>
    <div class="bg-purple-300 h-40 flex flex-wrap content-center">
        <div class="bg-purple-600 mx-4 h-10 p-2">1</div>
        <div class="bg-purple-600 mx-4 h-10 p-2">2</div>
        <div class="bg-purple-600 mx-4 h-10 p-2">3</div>
    </div>
    <h3>end</h3>
    <div class="bg-red-300 h-40 flex flex-wrap content-end">
        <div class="bg-red-600 mx-4 h-10 p-2">1</div>
        <div class="bg-red-600 mx-4 h-10 p-2">2</div>
        <div class="bg-red-600 mx-4 h-10 p-2">3</div>
    </div>
    <h3>between</h3>
    <div class="bg-gray-300 h-40 flex flex-wrap content-between">
        <div class="bg-gray-600 mx-4 h-10 p-2">1</div>
        <div class="bg-gray-600 mx-4 h-10 p-2">2</div>
        <div class="bg-gray-600 mx-4 h-10 p-2">3</div>
    </div>
    <div class="bg-orange-300 h-40 flex flex-wrap content-between">

    </div>
    <h3>around</h3>
    <div class="bg-orange-300 h-40 flex flex-wrap content-around">
        <div class="bg-orange-600 w-1/3 h-10 p-2">1</div>
        <div class="bg-orange-600 w-1/3 h-10 p-2">2</div>
        <div class="bg-orange-600 w-1/3 h-10 p-2">3</div>
        <div class="bg-orange-600 w-1/3 h-10 p-2">4</div>
        <div class="bg-orange-600 w-1/3 h-10 p-2">5</div>
        <div class="bg-orange-600 w-1/3 h-10 p-2">6</div>
    </div>
    <!-- Alinhamento e espaçamento de grid -->
    <h3>Alinhamento e espaçamento de grid</h3>
    <div class="bg-blue-300 grid grid-cols-3 h-40 place-content-center">
        <div class="bg-blue-600 m-2 p-2">1</div>
        <div class="bg-blue-600 m-2 p-2">2</div>
        <div class="bg-blue-600 m-2 p-2">3</div>
        <div class="bg-blue-600 m-2 p-2">4</div>
        <div class="bg-blue-600 m-2 p-2">5</div>
        <div class="bg-blue-600 m-2 p-2">6</div>
    </div>
    <div class="bg-green-300 grid grid-cols-3 h-48 place-content-between">
        <div class="bg-green-600 m-2 p-2">1</div>
        <div class="bg-green-600 m-2 p-2">2</div>
        <div class="bg-green-600 m-2 p-2">3</div>
        <div class="bg-green-600 m-2 p-2">4</div>
        <div class="bg-green-600 m-2 p-2">5</div>
        <div class="bg-green-600 m-2 p-2">6</div>
        <div class="bg-green-600 m-2 p-2">7</div>
        <div class="bg-green-600 m-2 p-2">8</div>
        <div class="bg-green-600 m-2 p-2">9</div>
    </div>
    <!-- Alinhamento e espaçamento de Items -->
    <h3>Alinhamento e espaçamento de Items</h3>
    <div class="bg-pink-300 grid grid-cols-3 h-40 place-items-center">
        <div class="bg-pink-600 m-2 p-2">Testando</div>
        <div class="bg-pink-600 m-2 p-2">2</div>
        <div class="bg-pink-600 m-2 p-2">3</div>
        <div class="bg-pink-600 m-2 p-2">4</div>
        <div class="bg-pink-600 m-2 p-2">5</div>
        <div class="bg-pink-600 m-2 p-2">6</div>
    </div>
    <!-- Adicionando padding -->
    <h3>Adicionando padding</h3>
    <div class="bg-yellow-400 h-40 p-10">
        <span class="bg-yellow-700 p-4">Padding</span>
        <span class="bg-yellow-800 px-4">Padding x</span>
        <span class="bg-yellow-900 py-4">Padding y</span>
        <span class="bg-blue-500  px-4 py-2">Botão</span>
        <span class="bg-red-500  pl-4 pt-6 pr-8 pb-10">Padding custom</span>
    </div>
    <!-- Exercício 11 -->
    <h3>Exercício 11</h3>
    <div class="h-40 p-10">
        <button class="bg-green-500 px-4 py-2 hover:bg-green-700 text-white font-bold rounded">Botão</button>
    </div>
    <!-- Margin -->
    <h3>Margin</h3>
    <div class="bg-green-900 w-20 h-10 text-white text-center m-5">
        Margin
    </div>
    <div class="bg-yellow-900 w-40 h-10 text-white text-center mx-auto my-4">
        Margin x e y
    </div>
    <div class="bg-pink-900 w-40 h-10 text-white text-center mt-10 ml-5 mb-8">
        Margin LTRB
    </div>
    <!-- Exercício 12 -->
    <h3>Exercício 12</h3>
    <div class="w-20 mx-auto bg-red-300 mt-2 font-bold">
        Margin Ex
    </div>
    <!-- Largura -->
    <h3>Largura</h3>
    <div class="bg-blue-400 font-bold p-4 max-w-5xl">
        Margin Width
    </div>
    <div class="bg-blue-200 font-bold p-4 w-40 min-w-full">
        Min Width
    </div>
    <!-- Altura -->
    <h3>Altura</h3>
    <div class="bg-red-300 text-white font-bold p-4 h-20 min-h-screen">
        Min Height
    </div>
    <div class="bg-red-900 text-white font-bold p-4 h-64 max-h-screen">
        Max Height
    </div>
    <!-- Tipo de Fontes -->
    <h3>Tipografia - Aletrando fonte</h3>

    <p class="text-xl font-serif">Testando fonte serifada</p>
    <p class="text-xl font-sans">Testando fonte sem serifa</p>
    <p class="text-xl font-mono">Testando fonte monospace</p>
    <p class="text-xl font-arial">Testando fonte arial</p>
    <!-- Tamanho da Fonte -->
    <h3>Tamanho da Fonte</h3>
    <p class="font-arial text-xs">Tamanho da Fonte</p>
    <p class="font-arial text-lg">Tamanho da Fonte</p>
    <p class="font-arial text-2xl">Tamanho da Fonte</p>
    <p class="font-aria text-6xl">Tamanho da Fonte</p>
    <p class="font-aria text-12xl">Tamanho da Fonte</p>
    <!-- Exercício 13-->
    <h3>Exercício 13</h3>
    <p class="font-mono text-xl bg-gray-500 p-4">Exercício Resolução</p>
    <!-- Estilo e weight -->
    <h3>Estilo e weight</h3>
    <p class="text-xl italic">Texto em itálico</p>
    <p class="text-xl italic font-bold">Texto em itálico</p>
    <p class="text-xl font-hairline">Texto em weight 100</p>
    <p class="text-xl font-black">Texto em weight 900</p>
    <p class="text-xl font-bold">Texto em weight 600</p>
    <p class="text-xl font-semibold">Texto em weight 500</p>

    <p class="m-20">Espaço</p>
    <p class="m-20">Espaço</p>
    <p class="m-20">Espaço</p>

</body>

</html>